/* START GOOGLE ICONS */

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

/* END GOOGLE ICONS */

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.otf);
}

html * {
    font-family: Montserrat;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.flex-item {
    margin-left: auto;
}

.material-icons.mediumicon {
    font-size: 350%;
}

.material-icons.bigicon {
    font-size: 450%;
}

.roombtn{
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    background-color: white; 
    color: black; 
    border: 2px solid #000;
}
